<!-- _layouts/default.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
  <header>
    <h1>Aniket Mallick</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/experience">Experience</a>
      <a href="/projects">Projects</a>
      <a href="/education">Education</a>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
</body>
</html>